{
  "swagger": "2.0",
  "paths": {
    "/api/users/sign_in": {
      "post": {
        "tags": [
          "SIGN IN"
        ],
        "summary": "",
        "responses": {
          "401": {
            "description": "failure"
          },
          "200": {
            "description": "success"
          }
        },
        "parameters": [
          {
            "x-example": "11610001",
            "type": "string",
            "required": true,
            "name": "uid",
            "in": "query",
            "description": "Student ID"
          },
          {
            "x-example": "123456",
            "type": "string",
            "required": true,
            "name": "password",
            "in": "query",
            "description": "Password"
          }
        ],
        "operationId": "CSysWeb.UserController.sign_in",
        "description": "Sign In"
      }
    },
    "/api/normal/xiaoli": {
      "get": {
        "tags": [
          "Xiaoli"
        ],
        "summary": "",
        "responses": {
          "204": {
            "description": "empty"
          },
          "200": {
            "description": "success"
          }
        },
        "parameters": [],
        "operationId": "CSysWeb.Normal.XiaoliController.index",
        "description": "获取校历文件的url链接"
      }
    },
    "/api/normal/training_programs": {
      "get": {
        "tags": [
          "TrainingProgram"
        ],
        "summary": "",
        "responses": {
          "401": {
            "description": "failure"
          },
          "200": {
            "description": "success"
          }
        },
        "parameters": [],
        "operationId": "CSysWeb.Normal.TrainingProgramController.index",
        "description": "列出所有的培养方案（父子目录）"
      }
    },
    "/admin/api/users/{id}": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "",
        "responses": {},
        "parameters": [
          {
            "type": "integer",
            "required": true,
            "name": "id",
            "in": "path",
            "description": "id, not uid"
          }
        ],
        "operationId": "CSysWeb.Admin.UserController.update",
        "description": "Edit User"
      },
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "responses": {},
        "parameters": [
          {
            "type": "integer",
            "required": true,
            "name": "id",
            "in": "path",
            "description": "id, not uid"
          }
        ],
        "operationId": "CSysWeb.Admin.UserController.show",
        "description": "List One"
      },
      "delete": {
        "tags": [
          "User"
        ],
        "summary": "",
        "responses": {},
        "parameters": [
          {
            "type": "integer",
            "required": true,
            "name": "id",
            "in": "path",
            "description": "id, not uid"
          }
        ],
        "operationId": "CSysWeb.Admin.UserController.delete",
        "description": "Delete User"
      }
    },
    "/admin/api/users": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "",
        "responses": {},
        "parameters": [
          {
            "x-example": "11610001",
            "schema": "string",
            "required": true,
            "name": "uid",
            "in": "body",
            "description": "Student ID"
          }
        ],
        "operationId": "CSysWeb.Admin.UserController.create",
        "description": "Add User"
      },
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "responses": {},
        "parameters": [
          {
            "type": "integer",
            "required": false,
            "name": "page_size",
            "minimum": 1,
            "in": "query",
            "description": "Number of elements per page"
          },
          {
            "type": "integer",
            "required": false,
            "name": "page",
            "minimum": 1,
            "in": "query",
            "description": "Number of the page"
          }
        ],
        "operationId": "CSysWeb.Admin.UserController.index",
        "description": "List All"
      }
    },
    "/admin/api/normal/xiaoli": {
      "post": {
        "tags": [
          "Xiaoli"
        ],
        "summary": "",
        "responses": {
          "204": {
            "description": "empty"
          },
          "201": {
            "description": "success"
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "name": "url",
            "in": "query",
            "description": "full url string"
          }
        ],
        "operationId": "CSysWeb.Admin.Normal.XiaoliController.create",
        "description": "添加校历文件url"
      },
      "get": {
        "tags": [
          "Xiaoli"
        ],
        "summary": "",
        "responses": {
          "204": {
            "description": "empty"
          },
          "200": {
            "description": "success"
          }
        },
        "parameters": [],
        "operationId": "CSysWeb.Admin.Normal.XiaoliController.index",
        "description": "获取校历文件的url链接"
      }
    }
  },
  "info": {
    "version": "1.0",
    "title": "Jwxt-En",
    "host": "mix.red"
  },
  "host": "localhost:4000",
  "definitions": {}
}